<script>

    import Image from '../../../media/image';

	export let data;

	let style;
	$: style = data.behavior_settings && data.behavior_settings.media_text && data.behavior_settings.media_text.style ? data.behavior_settings.media_text.style : 'medium_left';

</script>

<style>

    .media-text--container {
        margin: 0 auto;
        max-width: 42rem;
        padding: 0 2rem 1rem;
        box-sizing: border-box;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .medium_left .image {
        width: 100%;
        height: auto;
        margin: 0 0 1.5rem 0;
        float: left;
    }

    .medium_right .image {
        width: 100%;
        height: auto;
        margin: 0 0 1.5rem 0;
        float: right;
    }

    .big_left .image {
        width: 100vw;
        height: auto;
        margin: 0 -2rem 1.5rem -2rem;
        float: left;
    }

   .big_right .image {
       width: 100vw;
       height: auto;
       margin: 0 -2rem 1.5rem -2rem;
       float: right;
   }

   @media (min-width: 720px) {

      .medium_left .image {
          width: 16rem;
          margin: 0 2rem 1.5rem -4rem;
      }

      .medium_right .image {
          width: 16rem;
          margin: 0 -4rem 1.5rem 2rem;
      }

     .big_left .image {
         width: 24rem;
         margin: 0 2rem 1.5rem -4rem;
     }

     .big_right .image {
         width: 24rem;
         margin: 0 -4rem 1.5rem 2rem;
     }

   }

</style>

<div class="media-text--container { style }">

    {#if data.title }
        <h2>{ data.title }</h2>
    {/if}

    {#if data.media && data.media.image }
        <div class="image">
            <Image data="{ data.media.image }"/>
        </div>
    {/if}

    <div class="text">
        { @html data.text.processed }
    </div>

</div>

