<script>

    import { onMount } from 'svelte';
    import Image from '../../../media/image';
    import { preview } from '../../../media/image';

	export let data;

	let style;
	$: style = data.behavior_settings && data.behavior_settings.text && data.behavior_settings.text.style ? data.behavior_settings.text.style : 'normal';

	// let mounted;
	let loaded = false;
	// $: loaded = mounted;

	onMount(() => {
	    loaded = true;
	});

</script>

<style>

    .intro--container {
        max-width: 42rem;
        margin: 0 auto;
        position: relative;
        background: #ffffff;
        padding: 2rem 2rem 1rem 2rem;
        box-sizing: border-box;
        z-index: 5
    }

    h1 {
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    .subtitle,
    .text {
        font-size: 1.1rem;
    }

    .subtitle {
        margin-bottom: 1rem;
    }

    .image {
        margin-bottom: 2rem;
        margin-left: -2rem;
        margin-right: -2rem;
    }

    @media (min-width: 720px) {

        .image  {
            margin-left: -4rem;
            margin-right: -4rem;
        }

        .intro--container {
           padding-top: 6rem;
        }

    }

</style>

<div class="intro--container">
    {#if data.subtitle }
        <h2 class="subtitle">{ data.subtitle }</h2>
    {/if}
    <h1>{ data.title }</h1>
    {#if data.media && data.media.image }
        <div class="image">
            <Image data="{ data.media.image }"/>
        </div>
    {/if}
    <div class="text">{ @html data.text.processed }</div>
</div>

