<script>

    import Image from '../../../media/image';

    export let data;

</script>

<style>

    a {
        display: block;
        text-decoration: none;
        margin: 0 auto 1rem;
    }

    a:hover {
        transition: color 250ms ease-in-out;
        color: rgba(102, 126, 234, 1);
    }

    h2,
    a {
        max-width: 42rem;
        padding: 0 2rem;
        box-sizing: border-box;
    }

    h2 {
        margin: 0 auto 2rem;
        margin-bottom: 1rem;
    }

    h3 {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid rgba(102, 126, 234, 0.15);
    }

    @media (min-width: 480px) {

   }

</style>


{ #if data.title }
    <h2>{ data.title } </h2>
{ /if }

{ #each data.content as node }
    <a href="{ node.path.alias }">
        <h3>{ node.title }</h3>
        { #if node.intro.media && node.intro.media.image }
            <Image data="{node.intro.media.image}" />
        { /if }
        { @html node.intro.text.processed }
    </a>
{ /each }


