<script>

    import { onMount, tick } from 'svelte';
    import { config } from '../../../../utilities/config';

    export let data;

    const url = data.uri.value;
    const alt = data.meta.alt;
    const lqip = data.meta && data.meta.derivatives && data.meta.derivatives.thumbnail && data.meta.derivatives.thumbnail.base64;
    let placeholder = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=';

    let src;
    let width;
    let loaded = false;

    onMount(async () => {
        await tick();
        src = $config.backendUrl + '/image?file=' + url + '&width=' + width + '&dpr=1'
        if ($cache.indexOf(url) !== -1) {
            loaded = true;
        } else {
            await load(url, src);
            loaded = true;
        }
    });

</script>

<style>

    .image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: 1px transparent;
        background: rgba(234, 234, 234, 0.25);
        box-sizing: border-box;
        min-height: 200px;
        padding: 0;
        margin: 0;
    }

    .image,
    .placeholder {
        width: 100%;
        height: auto;
        font-size: 0;
        text-indent: -99999px;
    }

    .image {
        position: absolute;
        opacity: 0;
        transition: opacity 1000ms ease-in-out 250ms;
    }

    .loaded .image {
        opacity: 1;
        filter: none;
    }

    .placeholder {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

    .loaded .placeholder {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

</style>

<figure class="image-wrapper" bind:clientWidth="{ width }" class:loaded>
        <img width="{ data.meta.width }" height="{ data.meta.height }" class="image" src="{ src || placeholder }" alt="{ alt }" />
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="50 50 { data.meta.width - 100 } { data.meta.height - 100 }" class="placeholder">
          <image filter="url(#b)" width="{ data.meta.width }" height="{ data.meta.height }" xlink:href="{ preview(data) }"/>
          <filter id="b"><feGaussianBlur stdDeviation="75" /></filter>
        </svg>
</figure>

<script context="module">

    import { cache } from './store';
    import { sync } from '../../../../utilities/sync';
    import { get } from 'svelte/store';

    if (process.browser) {
        sync(cache, 'images');
    }

    export function preview(image, mode = 'lqip') {
        if (mode === 'lqip' && image.meta && image.meta.derivatives && image.meta.derivatives.thumbnail && image.meta.derivatives.thumbnail.base64) {
            return image.meta.derivatives.thumbnail.base64;
        } else {
            const w = image && image.meta ? image.meta.width : '';
            const h = image && image.meta ? image.meta.height: '';
            let base64;
            if (typeof btoa === 'undefined') {
                const b64 = require('b64-lite');
                base64 = b64.toBase64;
            } else {
                base64 = btoa;
            }
            return 'data: image/svg+xml;base64,' + base64('' +
                '<svg width="' + w +
                '" height="' + h +
                '" xmlns="http://www.w3.org/2000/svg">' +
                '<g><rect fill="none" id="canvas_background" ' +
                'height="' + w + '" ' +
                'width="' + h +
                '" y="-1" x="-1"/></g>' +
                '</svg>');
        }
    }

    const imageMap = get(cache);

    export function load(url, src) {
        return new Promise((resolve, reject) => {
            if (imageMap.includes(url)) {
                resolve('cache');
            } else {
                const img = new Image();
                img.onload = () => {
                    imageMap.push(url);
                    cache.set(imageMap);
                    resolve('new');
                };
                img.onerror = (e) => {
                    resolve('error')
                }
                img.src = src;
            }
        });
    };

</script>
