<script>

    import Fallback from '../paragraph/fallback';
    import Gallery from '../paragraph/gallery';
    import Intro from '../paragraph/intro';
    import Links from '../paragraph/links';
    import Media from '../paragraph/media';
    import MediaText from '../paragraph/media_text';
    import Panels from '../paragraph/panels';
    import Quote from '../paragraph/quote';
    import Text from '../paragraph/text';
    import List from '../paragraph/list';

    export let data;

    const bundles = {
        'paragraph--gallery': Gallery,
        'paragraph--intro': Intro,
        'paragraph--links': Links,
        'paragraph--media': Media,
        'paragraph--media_text': MediaText,
        'paragraph--panels': Panels,
        'paragraph--quote': Quote,
        'paragraph--text': Text,
        'paragraph--list': List,
    };

    let Bundle;
    if (bundles.hasOwnProperty(data.type)) {
        Bundle = bundles[data.type]
    } else {
        Bundle = Fallback;
    }

</script>

<Bundle { data } />
