<script context="module">

    import { deserialise } from 'kitsu-core';
    import { get } from '../utilities/api';

	export async function preload({ path }, session) {
	    try {
	        const response = await get(path, session, this);
	        const deserialised = await deserialise(response);
	        return { data: deserialised.data };
        } catch (error) {
	        this.error(error.status || 500, error.message || 'Internal server error');
	    }
   	}

</script>

<script>

    import Node from '../components/factory/node.svelte'

    export let data;

</script>

<Node {data} />
