<script context="module">

    import { get } from '../utilities/api';

    export async function preload({ path, query }, session) {
        try {
            const menu = await get('/menu/main', session, this);
            const footer = await get('/menu/footer', session, this);
            return {
                session: session,
                segment: path.substr(1),
                menu: menu ? menu : [],
                footer: footer ? footer : [],
            }
        } catch (error) {
            this.error(error.status || 500, error.message || 'Internal server error');
        }
    }

</script>

<script>

    import { afterUpdate } from 'svelte';
    import { config } from '../utilities/config';
	import Main from '../components/menu/main.svelte';
	import Footer from '../components/menu/footer.svelte';

	// Populate store for nicer config access.
	export let session = {};
	$config = session.config;

	export let segment = '';
	export let menu = [];
	export let footer = [];

    afterUpdate(() => {
        segment = window.location.pathname.substr(1);
    })

</script>

<style>

    main {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        box-sizing: border-box;
    }

	.content {
		position: relative;
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;
		flex: 1;
		padding-bottom: 4rem;
	}

</style>

<Main {segment} {menu} />

<main>
    <div class="content">
        <slot></slot>
    </div>
    <Footer {segment} menu="{footer}" />
</main>
