<script context="module">

    // import { deserialise } from 'kitsu-core';

	export async function preload({ path, params, query }, session) {
        const response = await this.fetch(`api/sitemap.json`);
        if (response.ok) {
            const json = await response.json();
            // const deserialized = await deserialise(json);
            return { pages: json };
        } else {
            this.error(response && response.statusCode ? response.status : 500, response && response.message ? response.message: 'Internal server error');
        }
   	}
</script>

<script>
    // import Headline from '../components/Headline.svelte'
    // import Text from '../components/Text.svelte'

    export let pages;

</script>

<style>
	h1 {
	    margin: 0 auto;
    	font-weight: normal;
		font-size: 2em;
		text-transform: uppercase;
		font-weight: normal;
		margin: 0 0 0.5em 0;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 2.5em;
		}
	}
</style>

<svelte:head>
	<title>Jan Stöckler - Sitemap</title>
</svelte:head>

<h1>Sitemap</h1>

<ul>
    {#each pages as page}
        <li><a rel=prefetch href='{ page.url }'>{ page.title }</a></li>
    {/each}
</ul>
