<script>

	export let segment;
    export let menu = [];

</script>

<style>

	footer {
	    position: relative;
		font-weight: 300;
		width: 100%;
		border-top: 1px solid rgba(102, 126, 234, 0.15);
		box-sizing: border-box;
		height: auto;
		margin: 0;
	}

	ul {
	    display: block;
		padding: 0 2em;
		max-width: 48em;
		margin: 0 auto;
		box-sizing: border-box;
	}

	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        font-weight: 400;
        font-size: 12px;
        padding: 1.5em 0 1.5em 0;
        margin-right: 1.5em;
	}

	.selected {
		position: relative;
		display: inline-block;
	}

	.selected::before {
		position: absolute;
		content: '';
		width: calc(100%);
		height: 2px;
		background-color: rgba(102, 126, 234, 1);
		display: block;
		top: -1px;
	}

	a {
		text-decoration: none;
		display: block;
	}

</style>

<footer>

	<ul>
	    {#each menu as item}
            <li class="{segment === item.alias || (item.relative === '/' && segment === undefined) ? 'selected' : ''}">
                { #if item.relative }
                    <a rel=prefetch href='{ item.relative }' >{ item.title }</a>
                { :else }
                    { item.title }
                { /if }
            </li>
        {/each}
	</ul>

</footer>
