<script>

	export let segment;
    export let menu = [];
    let checked = false;
    let submenuChecked = false;

    function uncheck() {
        checked = false;
    }

    function uncheckSubmenus() {
        submenuChecked = false;
    }

</script>

<style>

    .toggle {
        position: fixed;
        opacity: 1;
        top: auto;
        left: auto;
        bottom: 2em;
        right: 2em;
        background-color: rgba(102, 126, 234, 1);
        color: #ffffff;
        width: 3em;
        height: 3em;
        z-index: 999;
        padding: 0.7em 0.9em;
        border-radius: 50%;
        box-sizing: border-box;
        transition: opacity 0.2s ease-in-out;
    }

    :focus {
    	outline: thin dotted;
        outline-offset: -2px;
    }

    .icon {
    	display: inline-block;
    	fill: currentColor;
    	height: 1em;
    	width: 1em;
    	vertical-align: middle;
    	position: relative; /* Align more nicely with capital letters */
    	top: -0.0625em;
    }

    .icon-menu-toggle {
    	width: 1.25em;
    	height: 1.25em;
        top: 0;
        display: inline-block !important;
    }

    .svg-menu-toggle .line {
        opacity: 1;
        transform: rotate(0) translateY(0) translateX(0);
        transform-origin: 1em 1em;
        transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }
    .svg-menu-toggle .line-1 {
        transform-origin: 1em 2.5em;
    }
    .svg-menu-toggle .line-3 {
        transform-origin: 1em 4.5em;
    }

    #toggle:checked ~ .toggle {
        opacity: 1;
    }

    #toggle:checked ~ .toggle .svg-menu-toggle .line-1 {
        transform: rotate(45deg) translateY(0) translateX(0);
    }
    #toggle:checked ~ .toggle .svg-menu-toggle .line-2 {
        opacity: 0;
    }
    #toggle:checked ~ .toggle .svg-menu-toggle .line-3 {
        transform: rotate(-45deg) translateY(0em) translateX(0em);
    }

    .screen-reader-text {
    	clip: rect(1px, 1px, 1px, 1px);
    	position: absolute !important;
    	height: 1px;
    	width: 1px;
    	overflow: hidden;
    }

	nav {
	    opacity: 0;
	    margin-right: -100vw;
	    box-sizing: border-box;
		font-weight: 300;
		padding: 0;
		position: fixed;
		width: 100vw;
		background: #494949;
		color: #f0f0f0;
		bottom: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
		transition: opacity 0.25s ease-in-out, margin 5s ease-in-out;
		z-index: 10;
	}

	#toggle {
	    display: none;
	}

	#toggle:checked ~ nav {
	    opacity: 1;
	    transition: opacity 0.25s ease-in-out;
        margin-right: 0;
	}

	ul.menu {
	    display: inline-block;
	    vertical-align: bottom;
		margin: 0;
        padding: 0;
		height: 100vh;
		text-align: right;
		max-width: 42rem;
		margin: 0 auto;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transition: margin 0.1s ease-in-out, opacity 0.2s ease-in-out;
		padding: 0 2em 7em 2em;
	}

    ul.submenu {
        display: none;
        max-width: 42rem;
        box-sizing: border-box;
        transition: margin 0.1s ease-in-out, opacity 0.2s ease-in-out;
        padding: 0.5rem 0 0 0;
        margin: 0.25rem 0 0 0;
        /*border-top: 2px solid rgba(255, 255, 255, 0.5);*/
    }

    .submenu--toggle:checked ~ ul.submenu {
        display: inline-block;
    }

    .submenu--toggle ~ .label .submenu--toggle--label {
        display: inline-block;
        font-weight: bold;
        box-sizing: border-box;
        cursor: pointer;
    }

    .submenu--toggle ~ .label .submenu--toggle--label svg {
        width: 20px;
        height: 20px;
        margin-bottom: -5px;
    }

    .submenu--toggle:checked ~ .label .submenu--toggle--label {
        transform: rotate(-180deg);
    }

    .submenu--toggle--label--icon {
        fill: #ffffff;
    }

    #toggle:checked ~ nav li {
        visibility: visible;
        transition: visibility 0.25s ease-in-out;
    }

	ul.menu::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
	    visibility: hidden;
		display: inline-block;
		float: left;
		transition: visibility 0.5s ease-in-out;
		text-transform: uppercase;
        letter-spacing: 0.025em;
        font-weight: 400;
        font-size: 14px;
        padding: 1em 0 0.25em 0;
	}

	.submenu li {
	    font-size: 12px;
	    padding: 0.5em 0 0.25em 0;
	    float: right;
	    clear: both;
	    color: #d0d0d0;
	}

	.selected {
		position: relative;
		display: inline-block;
	}

	a {
		text-decoration: none;
		display: inline-block;
	}

    .selected > .label > a::after,
    .selected > a::after {
        position: relative;
        content: '';
        width: calc(100%);
        height: 2px;
        background-color: rgba(102, 126, 234, 1);
        display: block;
        margin-bottom: -2px;
    }

	@media (min-width: 720px) {

	    label {
	        display: none;
	    }

        nav {
            z-index: 10;
            opacity: 1;
            top: 0;
            bottom: auto;
            border-top: 0;
            border-bottom: 1px solid rgba(102, 126, 234, 0.15);
            font-weight: 300;
            padding: 0;
            position: fixed;
            width: 100%;
            z-index: 10;
            background: #ffffff;
            height: auto;
            margin-right: 0;
            transition: margin 0s ease-in-out;
        }

        ul.menu {
            height: auto;
            display: block;
            background: #ffffff;
            color: #333333;
            padding: 0 2em;
        }

        li {
            visibility: visible;
            padding: 1.5em 0 1.5em 0;
            margin-right: 1.5em;
        }

        a {

        }

        .submenu--toggle--label--icon {
            fill: #000000;
        }

        .label {
            float: right;
        }

        ul.submenu {
            position: absolute;
            margin-top: 2rem;
            background: #494949;
            padding: 0.5rem 1rem;
            margin-left: -1rem;

        }

        .submenu li {
            float: left;
            margin-right: 0;
        }

        .selected > .label > a::after,
        .selected > a::after {
            display: none;
        }

        .selected::after {
            position: absolute;
            content: '';
            width: calc(100%);
            height: 2px;
            background-color: rgba(102, 126, 234, 1);
            display: block;
            bottom: -1px;
        }

    }

</style>

<input
    style="display: none;"
    id="toggle"
    type="checkbox"
    bind:checked
/>

<label for="toggle" aria-expanded="false" class="toggle"><span class="screen-reader-text">Menu</span>
    <svg style="display: none;" class="icon icon-menu-toggle" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100">
        <g class="svg-menu-toggle">
            <path class="line line-1" d="M5 13h90v8H5z"/>
            <path class="line line-2" d="M5 43h90v8H5z"/>
            <path class="line line-3" d="M5 73h90v8H5z"/>
        </g>
    </svg>
</label>

<nav>
	<ul class="menu">
	    {#each menu as item}
            <li  class="{segment === item.alias || (item.relative === '/' && segment === undefined) ? 'selected' : ''}">
                { #if item.relative }
                    { #if item.below }
                       <input
                            style="display: none;"
                            class="submenu--toggle"
                            id="submenu--toggle--{ item.key }"
                            type="checkbox"
                            name="submenu--toggle"
                            bind:checked={ submenuChecked }
                        />
                    { /if }
                    <div class="label"><a rel=prefetch href='{ item.relative }' on:click="{ uncheck }" on:click="{ uncheckSubmenus }" >{ item.title }</a>
                    { #if item.below }
                        <label class="submenu--toggle--label" for="submenu--toggle--{ item.key }">
                            <svg height="20" viewBox="0 0 48 48" width="20" xmlns="http://www.w3.org/2000/svg"><path class="submenu--toggle--label--icon" d="M33.17 17.17l-9.17 9.17-9.17-9.17-2.83 2.83 12 12 12-12z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                        </label>
                    { /if }
                    </div>
                    { #if item.below }
                        <ul class="submenu">
                            { #each item.below as child }
                                <li  class="{segment === child.alias || (child.relative === '/' && segment === undefined) ? 'selected' : ''}">
                                    { #if child.relative }
                                        <a rel=prefetch href='{ child.relative }' on:click="{ uncheck }" on:click="{ uncheckSubmenus }" >{ child.title }</a>
                                    { /if }

                                </li>
                            { /each }
                        </ul>
                    { /if }
	            { :else }
	                 { #if item.below }
                       <input
                            style="display: none;"
                            class="submenu--toggle"
                            id="submenu--toggle--{ item.key }"
                            type="checkbox"
                            name="submenu--toggle"
                            bind:checked={ submenuChecked }
                        />
                    { /if }
	                <div class="label">{ item.title }
	                { #if item.below }
                        <label class="submenu--toggle--label" for="submenu--toggle--{ item.key }">
                            <svg height="20" viewBox="0 0 48 48" width="20" xmlns="http://www.w3.org/2000/svg"><path class="submenu--toggle--label--icon" d="M33.17 17.17l-9.17 9.17-9.17-9.17-2.83 2.83 12 12 12-12z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                        </label>
                    { /if }
                    </div>
                    { #if item.below }
                        <ul class="submenu">
                            { #each item.below as child }
                                <li  class="{segment === child.alias || (child.relative === '/' && segment === undefined) ? 'selected' : ''}">
                                    { #if child.relative }
    	                                <a rel=prefetch href='{ child.relative }' on:click="{ uncheck }" on:click="{ uncheckSubmenus }">{ child.title }</a>
                                    { /if }
                                </li>
                            { /each }
                        </ul>
                    { /if }
	            { /if }
            </li>
	    {/each}
	</ul>
</nav>
