<script>

    import Paragraph from '../../../factory/paragraph.svelte';

    export let data;

</script>

<style>

</style>

<svelte:head>
	<title>Decoupled - { data.title }</title>
</svelte:head>

{#each [data.intro] as intro (intro.id)}
    <div class="intro">
        <Paragraph data="{ data.intro }" />
    </div>
{/each}

{#each data.elements as element (element.id) }
    <Paragraph data="{ element }" />
{/each}
