<script>

	export let data;

	let style;
	$: style = data.behavior_settings && data.behavior_settings.panels && data.behavior_settings.panels.style ? data.behavior_settings.panels.style : 'accordion';

    let active;
    $: active = (style === 'tabs') ? data.elements[0].id : '';

    function click(event) {
        active = ((active === event.target.dataset.id) && (event.target.className.indexOf('accordion-topic') !== -1)) ? '' : event.target.dataset.id;
    }

</script>

<style>

    .panels-title,
    .panels,
    .tabs-controls {
        margin: 0 auto;
        max-width: 42rem;
        padding: 0 2rem 1rem;
        box-sizing: border-box;
    }

    .topic {
        display: block;
        cursor: pointer;
    }

    .content {
        display: none;
    }

    .content.active {
        display: block;
        border-bottom: 1px solid rgba(102, 126, 234, 1);
        margin-bottom: 0.5rem;
        padding: 1rem 0 0.5rem 0;
    }

    .topic {
        border-bottom: 1px solid rgba(102, 126, 234, 0.15);
        padding: 0.5rem 0 1rem 0;
    }

    .topic.active {
        border-bottom: 1px solid rgba(102, 126, 234, 1);
    }

    .tabs-controls {
        display: none;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .tabs-controls .list {
        border-bottom: 1px solid rgba(102, 126, 234, 0.15);
    }

    .tabs-controls .tab {
        display: inline-block;
        cursor: pointer;
        padding-bottom: 1rem;
        margin: 0 1rem -1px 0;
    }

    .tabs-controls .tab.active {
        border-bottom: 1px solid rgba(102, 126, 234, 1);
    }

    @media (min-width: 480px) {

       .tabs-controls {
            display: block;
       }

       .tabs .topic {
            display: none;
       }

       .tabs .content.active {
            border-bottom: 0;
       }

   }

</style>

{#if data.title }
    <h2 class="panels-title">{ data.title }</h2>
{/if}

{#if style === 'tabs'}
    <div class="tabs-controls">
        <div class="list">
            {#each data.elements as panel (panel.id) }
                <div data-id="{ panel.id }" class="tab { panel.id === active ? 'active' : '' }" on:click="{ click }">{ panel.topic }</div>
            {/each}
        </div>
    </div>
{/if}

<div class="panels panels-{data.id} { style }">
    {#each data.elements as panel (panel.id) }
    <h3 data-id="{ panel.id }" class="{ style }-topic topic { panel.id === active ? 'active' : '' }" on:click="{ click }">{ panel.topic }</h3>
    <div class="content { panel.id === active ? 'active' : '' }" id="content-{ panel.id }">
        {#if panel.title }
            <h2>{ panel.title }</h2>
        {/if}
        <div class="text">
            { @html panel.text.processed }
        </div>
    </div>
    {/each}
</div>
