<script>

	export let data;

	let style;
	$: style = data.behavior_settings && data.behavior_settings.text && data.behavior_settings.text.style ? data.behavior_settings.text.style : 'one-column';

</script>

<style>

    h2,
    div {
        margin: 0 auto 2rem;
        max-width: 42rem;
        padding: 0 2rem;
        box-sizing: border-box;
    }

    h2 {
        margin-bottom: 1rem;
    }

    @media (min-width: 480px) {

       .two_columns {
            column-count: 2;
            column-gap: 2rem;
       }

   }

</style>

{#if data.title }
    <h2>{ data.title }</h2>
{/if}

<div class="{ style }">
    { @html data.text.processed }
</div>
