<script>

    import Image from '../../../media/image';

	export let data;

</script>

<style>

    .media--container {
        margin: 0 auto;
        max-width: 42rem;
        padding: 0 2rem 2rem 2rem;
        box-sizing: border-box;
    }

    .image {
        /*max-width: 100%;*/
        /*height: auto;*/
        /*position: relative;*/
        margin-left: -2rem;
        margin-right: -2rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    @media (min-width: 720px) {

        .image  {
            margin-left: -4rem;
            margin-right: -4rem;
        }

    }

</style>

<div class="media--container">

    {#if data.title }
        <h2>{ data.title }</h2>
    {/if}

    {#if data.media && data.media.image }
        <div class="image">
            <Image data="{ data.media.image }"/>
        </div>
    {/if}

</div>
