<script>

	export let data;

</script>

<style>

    .quote--container {
        margin: 0 auto;
        max-width: 42rem;
        padding: 2rem 0;
        box-sizing: border-box;
        font-size: 20px;
        text-align: center;
    }

    .text {
        font-family: Garamond, ‘Hoefler Text’, ‘Times New Roman’, Times, serif;
        padding: 2rem 2rem 0 2rem;
        border-top: 1px solid rgba(102, 126, 234, 0.15);
    }

    .text:before {
        font-family: Garamond, ‘Hoefler Text’, ‘Times New Roman’, Times, serif;
        content: '\201C';
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 4rem;
        color: #666;
        text-align: center;
        margin-top: -2.8rem;
        font-size: 72px;
        border-radius: 50%;
        height: 3rem;
    }

    .source {
        display: block;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0 2rem 2rem 2rem;
        border-bottom: 1px solid rgba(102, 126, 234, 0.15);
    }

</style>

<div class="quote--container">

    <div class="text">{ @html data.text.processed }</div>
    <div class="source">{ data.source }</div>

</div>
