body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 300;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

p {
	/*word-break: break-word;*/
	margin: 0 0 1rem 0;
}

a {
	color: inherit;
	/*word-break: break-word;*/
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.small p {
	margin-bottom: 0.5em;
}

.small ~ .normal p {
	margin-top: 0;
}

@media (min-width: 400px) {
	body {
		/*font-size: 16px;*/
	}
}
