<script>

    import Image from '../../../media/image';
    import { preview } from '../../../media/image';

	export let data;

	let images = [];

	$: images = data.images.filter(item => item.id !== 'missing');

	let tallest;
	let smallestAspectRatio;

	// Determine tallest image for placeholder.
	images.forEach((image) => {
	    const aspectRatio = image.image.meta.width / image.image.meta.height;
	    if (!tallest || (tallest && aspectRatio < smallestAspectRatio)) {
            tallest = image.image;
            smallestAspectRatio = aspectRatio;
	    }
	});

	$: tallest = tallest;
	$: smallestAspectRatio = smallestAspectRatio;

	let style;
	$: style = data.behavior_settings && data.behavior_settings.gallery && data.behavior_settings.gallery.style ? data.behavior_settings.gallery.style : 'tiles';

</script>

<style>

    .gallery--container {
        margin: 0 auto;
        max-width: 42rem;
        padding: 0 2rem 1rem;
        box-sizing: border-box;
    }

    h2 {
        margin-top: 1rem;
        /*padding: 0 4rem;*/
    }

    h3 {
        position: absolute;
        margin: 1rem;
        padding: 0.75rem 1rem;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.33);
        z-index: 5;
    }

    .carousel-container .image {
        width: 100%;
        height: 100%;
    }

    .carousel-container .image :global(img),
    .carousel-container .image :global(svg) {
        width: auto;
        height: 100%;
    }

    .carousel-container .image :global(figure) {
        /*width: 100%;*/
        height: 100%;
    }

    .text {
        margin-top: 1rem;
        /*padding: 0 4rem;*/
    }

    .carousel {
        overflow: hidden;
        text-align: center;
        position: relative;
        padding: 0;
        list-style: none;
   }

   .carousel__controls,
   .carousel__activator {
        display: none;
   }

   .carousel__control {
        height: 1rem;
        width: 1rem;
        margin-top: -15px;
        top: 50%;
        position: absolute;
        display: block;
        cursor: pointer;
        border-width: 5px 5px 0 0;
        border-style: solid;
        border-color: #fafafa;
        opacity: 0.35;
        outline: 0;
        z-index: 3;
   }

   .carousel__control:hover {
        opacity: 1;
   }

   .carousel__control--backward {
        left: 1rem;
        transform: rotate(-135deg);
   }

   .carousel__control--forward {
        right: 1rem;
        transform: rotate(45deg);
   }

   .carousel__indicators {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
   }

   .carousel__indicator {
        height: 15px;
        width: 15px;
        border-radius: 100%;
        display: inline-block;
        z-index: 2;
        cursor: pointer;
        opacity: 0.35;
        margin: 0 2.5px 0 2.5px;
   }

   .carousel__indicator:hover {
        opacity: 0.75;
   }

   .carousel__track {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        transition: transform 0.5s ease 0s;
   }

   .carousel__track .carousel__slide {
        display: block;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
   }

   .carousel--scale .carousel__slide {
        transform: scale(0);
   }

   .carousel__slide {
        height: 100%;
        position: absolute;
        overflow-y: auto;
        opacity: 0;
   }

   .carousel-container {
        display: block;
   }

   .carousel__slide {
        overflow: hidden;
   }

   .carousel__indicator {
        background-color: #fafafa;
   }

   .tiles--container {
        display: flex;
        margin: 0 -0.5rem;
        flex-wrap: wrap;
   }

   .tiles--container .image {
        box-sizing: border-box;
        padding: 0.5rem;
        flex: 100%;
   }

    @media (min-width: 480px) {

        .tiles--container .image {
            flex: 50%;
        }

    }

    @media (min-width: 720px) {

        .tiles--container .image {
            flex: 33%;
        }

        .carousel-container,
        .tiles--container {
            margin: 1.5rem -4rem 1rem;
        }
    }

</style>

<div class="gallery--container { style }">

    {#if style === 'slider'}

        {#if data.title }
            <h2>{ data.title }</h2>
        {/if}

        {#if images && images.length }
            <div class="carousel-container">
                <div class="carousel my-carousel carousel--translate c-{data.id.replace('-', '') }">
                    <img src="{ preview(tallest, 'svg') }" style="width: 100%; height: auto;" alt="" />

                    {#each images as image, i (image.id)}
                        {@html styles(i, 'c-' + data.id.replace('-', '')) }
                    {/each}

                    {#each images as image, i (image.id)}
                        <input class="carousel__activator" type="radio" name="carousel-{ data.id }" id="c-{ data.id.replace('-', '') + '-' + image.id.replace('-', '') }" checked="{ i === 0 }"/>
                    {/each}

                    {#each images as image, i (image.id)}
                        <div class="carousel__controls">
                            <label class="carousel__control carousel__control--backward" for="c-{ data.id.replace('-', '') + '-'}{ i === 0 ? images[images.length - 1].id.replace('-', '') : images[i -1].id.replace('-', '') }"></label>
                            <label class="carousel__control carousel__control--forward" for="c-{ data.id.replace('-', '') + '-'}{ i === (images.length - 1) ? images[0].id.replace('-', '') : images[i + 1].id.replace('-', '') }"></label>
                        </div>
                    {/each}

                    <div class="carousel__track">
                        {#each images as image, i (image.id)}
                            <li class="carousel__slide">
                                <h3>{ image.image.meta.alt }</h3>
                                <div class="image">
                                    <Image data="{ image.image }"/>
                                </div>
                            </li>
                        {/each}
                    </div>

                    <div class="carousel__indicators">
                        {#each images as image (image.id)}
                            <label class="carousel__indicator" for="c-{ data.id.replace('-', '') + '-' + image.id.replace('-', '') }"></label>
                        {/each}
                    </div>
                </div>
            </div>
        {/if}

        {#if data.text }
            <div class="text">
                { @html data.text.processed }
            </div>
        {/if}

    {:else if style === 'tiles'}

        {#if data.title }
            <h2>{ data.title }</h2>
        {/if}

        {#if images && images.length }
            <div class="tiles--container">
                {#each images as image, i (image.id)}
                    <div class="image">
                        <Image data="{ image.image }"/>
                    </div>
                {/each}
            </div>
        {/if}

        {#if data.text }
            <div class="text">
                { @html data.text.processed }
            </div>
        {/if}
    {/if}

</div>

<script context="module">

    export function styles(index, id) {
        index++;
        return '<style>\n' +
            '.' + id + ' .carousel__activator:nth-of-type(' + index + '):checked ~ .carousel__track {\n' +
            'transform: translateX(-' + Number(index - 1) * 100 + '%);\n' +
            '}\n' +
            '.' + id + ' .carousel__activator:nth-of-type(' + index + '):checked ~ .carousel__slide:nth-of-type(' + index + ') {\n' +
            'transition: opacity 0.5s, transform 0.5s;\n' +
            'top: 0;\n' +
            'left: 0;\n' +
            'right: 0;\n' +
            'opacity: 1;\n' +
            'transform: scale(1);\n' +
            '}\n' +
            '.' + id + ' .carousel__activator:nth-of-type(' + index + '):checked ~ .carousel__controls:nth-of-type(' + index + ') {\n' +
            'display: block;\n' +
            'opacity: 1;\n' +
            '}\n' +
            '.' + id + ' .carousel__activator:nth-of-type(' + index + '):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(' + index + ') {\n' +
            'opacity: 1;\n' +
            '}\n' +
            '.' + id + ' .carousel__track .carousel__slide:nth-of-type(' + index + ') {\n' +
            'transform: translateX(' + Number(index - 1) * 100 + '%);\n' +
            '}\n' +
        '</style>\n';
    }

</script>
