<script>

	export let data;

</script>

<style>

    div {
        margin: 0 auto 2rem;
        max-width: 42rem;
        padding: 2rem;
        box-sizing: border-box;
        border: 1px dotted red;
        text-align: center;
        color: red;
    }

    span {
        width: 100%;
        display: block;
        font-weight: bold;
        font-size: 125%;
    }

    @media (min-width: 480px) {

    }

</style>

<div>
    No component found for type <span>{ data.type }</span>
</div>
